<div class="row">
  <div class="span1"><%= label %></div>
  <% score = @lecture.send attribute %>
  <div class="span3">
    <div class="progress progress-striped">
      <div class="bar" style="width: <%= '%.2f' % (score * 10) %>%;">
        <span class="label label-info"><%= '%.1f' % score -%></span>
      </div>
    </div>
  </div>
</div>
